<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.EmpMapper">
    <select id="getByPage" resultType="com.itheima.pojo.Emp">
#     select count(*) from tlilas.emp;
    select *from tlilas.emp limit #{start},#{pageSize};
    </select>

    <select id="listEmp" resultType="com.itheima.pojo.Emp">
        select *from tlilas.emp;
    </select>
    <select id="count" resultType="long">
        select count(*) from tlilas.emp
    </select>
</mapper>